<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Bienvenido a {{ config.titulo }}!
	</h1>
</div>
<div [ngStyle]="{
	'background': config.color,
	'padding-bottom': '20px'
}">
	<h2>{{ config.descripcion }}</h2>  
</div>

<nav>
	<a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>&nbsp;
	<a [routerLink]="['/zapatos']" [routerLinkActive]="['active']">zapatos</a>&nbsp;
	<a [routerLink]="['/videojuegos']" [routerLinkActive]="['active']">Videojuegos</a>&nbsp;
	<a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>&nbsp;
	<a [routerLink]="['/peticion']" [routerLinkActive]="['active']">Peticion</a>&nbsp;
	<a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>&nbsp;
	<a [routerLink]="['/lista_contactos']" [routerLinkActive]="['active']">Lista de contactos</a>&nbsp;
</nav>

<router-outlet></router-outlet>


