<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Bienvenido a {{ config.titulo }}!
	</h1>
</div>
<div [ngStyle]="{
	'background': config.color,
	'padding-bottom': '20px'
}">
	<h2>{{ config.descripcion }}</h2>  
</div>

<nav>
	<a [routerLink]="['/']">Home</a>&nbsp;
	<a [routerLink]="['/zapatos']">zapatos</a>&nbsp;
	<a [routerLink]="['/videojuegos']">Videojuegos</a>&nbsp;
	<a [routerLink]="['/cursos']">Cursos</a>&nbsp;
</nav>

<router-outlet></router-outlet>


