<h2>{{ titulo }}</h2>

<p>Marca reactiva</p>
<p><input type="text" [(ngModel)]='mi_marca' (blur)='onBlur()' (keyup.enter)='anadirMarca()'/>
<button (click)="anadirMarca()">Añadir marca</button><button (click)="getMarca()">Muestra marca!</button></p>
<p>{{ mi_marca }}</p>

<p>Marcas disponibles!</p>
<ul style="list-style: none">
	<li *ngFor="let marca of marcas; let i = index"><button (click)="borrarMarca(i)">borrar</button>{{ i + ' ' + marca }}</li>
</ul>

<ul>
	<li *ngFor="let unzapato of zapatos">
		<span [ngStyle]="{ 'text-decoration': unzapato.stock ? 'none' : 'line-through' }">
			{{ unzapato.nombre }} - 
			<strong 
				[class.altoPrecio]="unzapato.precio > 80"
				[ngClass]="{
					'fondoRojo': unzapato.precio > 80,
					'subrayado': unzapato.marca == 'Nike'
				}"
			>$ {{ unzapato.precio }} 
			</strong>
		</span>
		<span *ngIf="unzapato.precio <= 80" [style.background]="unzapato.precio <= 80 ? 'green' : 'white'">¡En Oferta!</span>
	</li>
</ul>


<!-- 
<ul [ngSwitch]="color">
	<li *ngSwitchCase="'yellow'">
		El color predominante es amarillo
	</li>
	<li *ngSwitchCase="'black'">
		El color predominante es negro
	</li>	
</ul>
-->